#overviewDiv img {
  position: fixed;
  width: 100%;
  opacity: 0.7;
  filter: blur(0.4em);
  z-index: -4;
}

#overviewDiv h1 {
  font-family: 'Share', cursive;
  font-size: 72px;
  color: #D0FFFB;
  margin: 2vmin 0 1vmin 9vmin;
  border-bottom: 3px solid #D0FFFB;
}

#overviewDiv h3 {
  font-family: 'Share', cursive;
  font-size: 42px;
  color: #D0FFFB;
  margin: 4vmin 0 1vmin 15vmin;
}

#overviewDiv ul {
  margin: 2vmin 0 2vmin 18vmin;
  list-style: none;
}

#overviewDiv p {
  font-family: 'Share', cursive;
  font-size: 30px;
  color: #D0FFFB;
  margin: 4vmin 0 1vmin 4vmin;
}
